/* helper classes */
.contained {
  width: 70%;
}

.page {
  min-width: 100%;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0
}

.col {
  display: flex;
  flex-direction: column;
}

.w25 {
  width: 25%;
}
.w33 {
  width: calc(100% / 3);
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}

.h25 {
  height: 25%;
}
.h33 {
  height: calc(100% / 3);
}
.h50 {
  height: 50%;
}
.h100 {
  height: 100%;
}

.start {
  justify-content: flex-start;
}
.center {
  justify-content: center;
}
.end {
  justify-content: flex-end;
}
.even {
  justify-content: space-evenly;
}
.space {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.stretch {
  justify-content: stretch;
}

.alignStart {
  align-items: flex-start;
}
.alignCenter {
  align-items: center;
}
.alignEnd {
  align-items: flex-end;
}
.alignStretch {
  align-items: stretch;
}
