/* helper classes */
.contained {
  width: 70%;
}

.page {
  min-width: 100%;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0
}

.col {
  display: flex;
  flex-direction: column;
}

.w33 {
  width: 33.3%;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.even {
  justify-content: space-evenly;
}

.space {
  justify-content: space-between;
}

.fw100 {
  font-weight: 100;
}
.fw200 {
  font-weight: 200;
}
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}

.above {
  z-index: 10;
}

.below {
  z-index: 8;
}