/* global pseudo-selectors */
:root {
  /* paths relative to index.html, NOT to this file */
  --img-bg-1: url("./assets/img/bg1.png");
  --img-bg-2: url("./assets/img/bg2.jpg");
  --img-bg-3: url("./assets/img/bg3.jpg");

  --color-tv: #222;
  --color-background: #fa3;
  --color-dark: black;
  --color-darkgray: #555;
  --color-lightgray: #999;
  --color-light: white;
  --color-base-1: white;
  --color-base-2: #b01b29;
  --color-base-3: #1ac;
  --color-heading: var(--chosen-fg-color);
  --color-text: #112;
  --color-max-button: black;
  --color-max-hover: #00000010;

  --font-sans: "Roboto", "Open Sans", "Fira Sans", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
  --font-serif: serif;
  --font-mono: "Roboto Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;

  --duration-fast: 100ms;
  --duration-normal: 200ms;
  --duration-slow: 500ms;
  
  --chosen-bg-color: var(--color-light);
  --chosen-fg-color: var(--color-text);
  --chosen-heading-font: var(--font-sans);
  --chosen-text-font: var(--font-serif);
  --chosen-font-size: 12pt;
  --chosen-timing-func: cubic-bezier(0.215, 0.610, 0.355, 1);
}

::selection {
  background-color: unset;
  color: unset;
}

/* global elements */
*, *::before, *::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background-color: black;
}

strong {
  font-weight: bold;
}

h1 {
  font-family: var(--chosen-heading-font);
  font-size: 30pt;
}

h2 {
  font-family: var(--chosen-heading-font);
  font-size: 24pt;
}

h3 {
  font-family: var(--chosen-heading-font);
  font-size: 20pt;
}

p {
  font-family: var(--font-sans);
  font-size: 14pt;
  font-weight: 400;
}

a {
  font-family: var(--font-sans);
  color: unset;
  font-size: 14pt;

  text-decoration: none;
}

hr {
  margin: 5px 0;
  
  height: 1px;
  border: 0;
}

ion-icon {
  display: inline;
  margin: 0 4px;

  pointer-events: none;
}

/* element-specific classes */
.tv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex;
  
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  border-top-width: 30px;
  border-bottom-width: 50px;
  border-left-width: 20px;
  border-right-width: 20px;
  border-color: var(--color-tv);
  border-style: solid;
}



/* screen features */
.tvScreen{
  display: flex;
  
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.blank {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;

  background-color: black;
}

.preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  
  background-color: black;
  color: var(--color-light);
  cursor: progress;
}

.preloaderText {
  font-family: var(--font-mono);
  text-shadow: 0 0 2px white;
}
.preloaderText::selection {
  background-color: unset;
  color: unset;
}

.preloaderDotZone {
  position: relative;
  width: 300px;
  padding: 10px 0;
  overflow: hidden;
}

.preloaderDot {
  position: absolute;
  left: -10px;
  width: 10px;
  height: 10px;
  z-index: 19;

  background-color: var(--color-base-2);
  border-width: 0;
  border-style: solid;
  border-color: white;

  animation: morph-dot 2s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  animation-delay: var(--delay);
}
.preloaderDot:first-of-type {
  width: 10px;
  height: 20px;
  z-index: 21;
  
  background-color: unset;
  border-width: 1px 1px 1px 0;
}
.preloaderDot:last-of-type {
  width: 10px;
  height: 20px;
  z-index: 21;
  
  background-color: unset;
  border-width: 1px 0 1px 1px;
}
@keyframes morph-dot {
  0% {
    transform: translateX(0px);
  }
  50% {
    background-color: unset;
    
    transform: translateX(155px) scaleX(18);
  }
  100% {
    transform: translateX(310px);
  }
}

/* desktop features */
.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);

  background-color: #757575;
  background-image: url("../img/bg1.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  color: var(--color-base-1);
}
.desktop::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -100;

  content: url("../img/bg1.jpg") url("../img/bg2.jpg") url("../img/bg3.jpg");
}

.assistant {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  margin: 20px;
  z-index: 40;

  opacity: .5;
  
  transition-property: opacity, filter;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--chosen-timing-func);
}

.assistantFace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  flex-shrink: 0;
  
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  z-index: 21;
  
  background: url(../img/head-crop.png), radial-gradient(white 60%, #ddd 80%);
  background-size: contain;
  background-position: center;
  color: #ffffe8;
  font-size: 30pt;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #22222288;
}

.spazzed {
  animation: shake-face 750ms var(--chosen-timing-func) forwards;
}

@keyframes shake-face {
  20% {
    transform: translateY(1px);
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(2px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.assistantTyper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  height: auto;
  min-height: 45px;
  padding: 0 20px;
  z-index: 20;

  background-color: var(--chosen-bg-color);
  color: var(--color-text);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #22222288;
  cursor: default;
}
.assistantTyper::before {
  display: flex;
  align-self: center;
  
  position: absolute;
  left: -5px;
  width: 10px;
  height: 10px;

  content: " ";
  background: linear-gradient(-45deg, transparent 50%, var(--chosen-bg-color) 50%);
  box-shadow: 4px 4px 0 4px var(--chosen-bg-color), -2px -2px 3px #22222233;

  transform: rotate(-45deg);
}

.assistantText {
  margin: 10px 0;

  font-family: var(--font-mono);
  font-size: 14pt;
  font-weight: 400;
  text-align: left;
}

.typing::after {
  content: "_";

  animation: none;
}

.doneTyping::after {
  content: "_";
  animation: anim-blink 600ms steps(2, start) infinite;
}
@keyframes anim-blink {
	to {
		visibility: hidden;
	}
}

.dock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: content-box;
  width: 280px;
  height: auto;
  margin: 0 auto;
  z-index: 40;

  border-width: 40px 40px 20px 40px;
  border-style: solid;
  border-color: transparent;
  border-radius: 25px;

  transition: bottom var(--duration-normal);
}

.dockHidden {
  bottom: -85px;

  pointer-events: none;
}

.dockButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  position: relative;
  width: 60px;
  height: 60px;

  opacity: .5;
  background: radial-gradient(white 60%, #ddd 80%);
  color: var(--color-text);
  font-size: 30pt;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 #22222288, 0 -2px 0 #eee;

  transition: opacity var(--duration-normal) var(--chosen-timing-func);
}
.dockButton:hover {
  opacity: 1;
}
.dockButton:hover::before {
  position: absolute;
  top: -50px;
  width: auto;
  padding: 5px 10px;
  z-index: 40;

  content: attr(data-label);
  background-color: var(--chosen-bg-color);
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: 12pt;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #22222288;
  cursor: default;
}
.dockButton:hover::after {
  display: flex;
  align-self: center;
  
  position: absolute;
  top: -25px;
  width: 10px;
  height: 10px;
  z-index: 40;

  content: " ";
  background: linear-gradient(-45deg, transparent 50%, var(--chosen-bg-color) 50%);
  box-shadow: 1px 1px 0 var(--chosen-bg-color), -2px -2px 3px #22222233;

  transform: rotate(-135deg);
}

.dockToggler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 280px;
  height: 20px;
  margin: 0 auto;
  z-index: 40;

  opacity: .5;
  background: radial-gradient(white 60%, #999 90%);
  color: var(--color-text);
  font-size: 20pt;
  text-align: center;
  border-radius: 25px 25px 0 0;
  cursor: pointer;

  transition-property: bottom, opacity;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--chosen-timing-func);
}
.dockToggler:hover {
  opacity: 1;
}

.dockTogglerHidden {
  bottom: -25px;

  pointer-events: none;
}

/* context features */
.contextMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  padding: 10px;
  width: 200px;
  height: auto;
  z-index: 50;

  background: white;
  color: var(--color-text);
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #22222288;
}

.contextHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  line-height: 12pt;
  margin-bottom: 10px;
  padding-bottom: 10px;

  font-family: var(--font-sans);
  font-size: 12pt;
  border-bottom: 1px solid #ddd;
  cursor: default;
}

.contextContent {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-bottom: 20px;

  opacity: 1;
  color: var(--color-text);
  cursor: default;
}
.contextContent:last-of-type {
  margin-bottom: 0;
}

.contextRow:last-of-type {
  margin-bottom: 0;
}

.imgPreview {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;

  background-color: black;
  background-position: center;
  background-repeat: no-repeat;

  border: 2px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.isSet {
  border: 2px solid var(--chosen-fg-color);
}

.imgPreview1 {
  background-image: url("../img/previewbg1.png");
}

.imgPreview2 {
  background-image: url("../img/previewbg2.jpg");
}

.imgPreview3 {
  background-image: url("../img/previewbg3.jpg");
}

.tinyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 20px;
  height: 14px;
  
  color: var(--color-text);
  border: 1px solid #ddd;
  border-radius: 4px;

  cursor: pointer;
}

.fontPreview {
  line-height: 24pt;
  margin: 0 5px;
  
  font-family: var(--chosen-font);
}

.colorPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 30px;
  height: 30px;
  margin: 0 10px;
  
  font-family: var(--chosen-font);
  font-size: 12pt;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.colorPreviewLight {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.colorPreviewDark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.colorPreviewContrast {
  background-color: var(--color-base-2);
  color: var(--color-base-3);
}

/* window features */
.windowShell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 50%;
  min-width: 350px;
  height: 50%;
  z-index: 30;
  overflow: hidden;

  background-color: var(--color-light);
  color: var(--color-text);
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 #22222288;

  transition: width var(--duration-normal), height var(--duration-normal);
  transition-timing-function: var(--chosen-timing-func);
  animation: open-window var(--duration-normal) var(--chosen-timing-func) forwards;
}

@keyframes open-window {
  from {
    transform: scale3d(.95, .95, 1);
    opacity: .5;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.shellMaximized {
  width: 100%;
  height: 100%;

  border-radius: 0;
}

.closed {
  animation: close-window var(--duration-normal) var(--chosen-timing-func) forwards;
}

@keyframes close-window {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: scale3d(.95, .95, 1);
    opacity: 0;
  }
}

.windowControls {
  display: flex;
  flex-direction: row;
  align-self: flex-end;

  position: absolute;
}

.controlButton {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 40px;
  height: 30px;
  
  color: var(--color-text);
  font-size: 16pt;
  cursor: pointer;
}

.maxButton {
  color: var(--color-max-button);
}
.maxButton:hover {
  background-color: var(--color-max-hover);
}

.closeButton {
  background-color: #eac2c6;
  border-radius: 0 5px 0 0;
}
.closeButton:hover {
  background-color: #d5858c;
}

.windowModule {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
}
.windowModule *::selection {
  background-color: var(--color-selection-bg);
}
.windowModule a::selection {
  color: white;
  border-bottom: 1px solid var(--color-selection-bg);
}

.hadDarkHeading {
  color: white;
}

.windowHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  background-color: var(--color-heading-bg);
  color: var(--color-heading);
  font-family: var(--font-sans);

  border-radius: 5px 5px 0 0;
  cursor: default;
}

.standardHeadingText {
  display: flex;
  align-items: center;
  
  position: relative;
  height: 100px;


  font-size: 30pt;
  font-weight: 700;
  text-align: center;
}

.brandHeadingText {
  position: relative;
  height: 100px;
  z-index: 0;

  font-size: 56pt;
  font-weight: 400;
  text-shadow: none;
  letter-spacing: -6px;
  
  transition-property: color, text-shadow, transform;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--chosen-timing-func);
  transform: none;
}
.brandHeadingText::first-letter {
  font-weight: 700;
}
.brandHeadingText::after {
  position: absolute;
  top: 40%;
  right: 1px;
  z-index: -1;
  
  content: "V2";
  color: var(--color-background);
  font-size: 21pt;
  letter-spacing: -2px;
  text-shadow: none;

  transition-property: color;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--chosen-timing-func);
}
.brandHeadingText:hover {
  color: var(--color-background);
  text-shadow: 0 2px 0px white, 0 4px 4px white, 0px 4px 20px white;
  transform: rotateX(30deg);
}
.brandHeadingText:hover::after {
  color: white;
}

.tld {
  font-weight: 100;
}

.windowContent {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 10px;

  background-color: var(--chosen-bg-color);
  color: var(--chosen-fg-color);
  text-align: left;

  transition: padding var(--duration-normal) var(--chosen-timing-func);
}

.contentMaximized {
  padding: 20px 20px 40px 20px;
}

/* content containers */
.windowRow {
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  width: 100%;
  height: 100%;
}

.refLink{
  display: inline-block;
  
  line-height: 96%;
  
  background-image: linear-gradient(120deg, var(--color-link-bg) 0%, var(--color-link-bg) 50%);
  background-size: 0 100%;
  background-position: bottom left;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--color-link-bg);

  transition: background-size var(--duration-normal);
  transition-timing-function: var(--chosen-timing-func);
}
.refLink:hover {
  background-size: 100% 100%;
}

.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  
  width: 100%;
  height: 100%;
  margin: 0 10px;
  padding: 10px 10px;

  background-color: var(--chosen-bg-color);
  color: var(--chosen-fg-color);
  text-align: center;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.infoCard:first-of-type, 
.infoCard:last-of-type {
  margin: 0;
  padding: 10px 0;

  border-width: 0;
}

.cardHeading {
  margin: 10px 0 10px 0;
  padding-bottom: 10px;

  border-bottom: 1px solid #eee;
}
.cardHeading:first-of-type {
  margin: 0 0 10px 0;
}

.infoFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100px;
  margin-top: 10px;

  background-color: #eee;
  font-family: var(--font-sans);
}
.infoFooter > a:hover {
  text-decoration: underline;
}

.revealCard {
  background-image: linear-gradient(120deg, var(--color-background) 0%, var(--color-background) 100%);
  background-size: 100% .1em;
  background-position: 0 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: var(--font-sans);
  font-size: 14pt;
  text-align: center;
  cursor: default;

  transition-property: background-size;
  transition-duration: var(--duration-slow);
  transition-timing-function: var(--chosen-timing-func);
  transition-delay: 500ms;
}
.revealCard::before {
  display: flex;

  position: absolute;
  
  content: attr(data-placeholder);
  color: #222;

  transition: opacity var(--duration-normal);
  transition-timing-function: var(--chosen-timing-func);
  transition-delay: var(--duration-slow);
}
.revealCard:hover {
  background-size: 100% 100%;
}
.revealCard:hover::before {
  opacity: 0;
  text-decoration: underline;
}

.windowFooter {
  width: 100%;
  height: 100px;
  
  background-color: #222;
  border-radius: 0 0 5px 5px;
}

/* generic classes */
.hide {
  opacity: 0;
}

.focused {
  opacity: 1;
  background-blend-mode: normal;
  filter: none;
}

.hasLaunch {
  cursor: pointer;
}

/* TV features */
.tvFeatures {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;

  border-top-width: 30px;
  border-bottom-width: 50px;
  border-left-width: 20px;
  border-right-width: 20px;
  border-color: var(--color-tv);
  border-style: solid;

  pointer-events: none;
}
.tvFeatures::before {
  content: "";
  position: fixed;
  top: 30px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  z-index: 101;
  border: 4px inset #111;
}
.tvFeatures * {
  pointer-events: auto;
}
.tvFeatures *::selection {
  background-color: unset;
  color: unset;
}

.webcam {
  position: fixed;
  top: 3px;
  left: 0;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 0 auto;

  background-color: #181818;
  border: 4px solid black;
  outline: 1.5px inset #333;
  box-shadow: inset 0 0 2px #00000099;
}

.webcamLens {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  
  background: black;
  border: 2px solid #111;
  border-radius: 50%;
}

.webcamLight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  position: fixed;
  top: 12px;
  left: 30px;
  right: -30px;
  width: 6px;
  height: 6px;
  line-height: 10pt;
  margin: 0 auto;
  
  background-color: black;
  font-size: 14pt;
  text-align: center;
  border-radius: 50%;
  cursor: default;

  transition-property: color, text-shadow;
  transition-duration: var(--duration-fast);
  
  pointer-events: none;
}

.webcamLit {
  color: #e45;
  text-shadow: 0 0 2px #e45, 0 0 4px #e45, 0 0 8px #e45;
}

.bezelBrand {
  position: fixed;

  bottom: 10px;
  left: 0;
  right: 0;
  height: 30px;
  margin: 0 auto;
}

.powerButton {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 5px;
  right: 20px;
  width: 40px;
  height: 40px;

  background: linear-gradient(#444 0%, #222 100%);
  border-radius: 50%;
  box-shadow: 0 2px 4px black;
  cursor: pointer;
}

.pressed {
  box-shadow: 0 1px 1px black;
}

.powerButtonLight {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 1em;
  height: 1em; 
  
  background: linear-gradient(#222 0%, #333 100%);
  font-size: 18pt;
  text-align: center;
  border: 1px solid #111;
  border-radius: 50%;

  transition-property: color, border-color, box-shadow;
  transition-duration: var(--duration-fast);
}

.powerLit {
  color: #38f;
  border-color: #38f;
  box-shadow: 0 0 2px #38f, 0 0 4px #38f;
}









.svgWrapper {
  display: flex;
  justify-content: center;

	position: absolute;
	width: 100%;
  height: 100%;
  z-index: 1;
}

.svgBox {  
	width: 100%;
  height: 100%;
}
.growAnim {
  animation: grow-ring 2s ease-out forwards;
}
.shrinkAnim {
  animation: shrink-ring .75s ease-in-out forwards;
}
@keyframes grow-ring {
  from {
    transform: scale(.9);
  }
  to {
    transform: scale(1);
  }
}
@keyframes shrink-ring {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.svgRing {
	stroke: var(--color-base-1);
  fill: none;
  shape-rendering: geometricPrecision;
  
	transform-origin: center;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ringAnim-0 {
  animation: rotate-ring-0 50s linear infinite;
}
.ringAnim-1 {
  animation: rotate-ring-1 40s linear infinite;
}
.ringAnim-2 {
  animation: rotate-ring-2 30s linear infinite;
}
@keyframes rotate-ring-0 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes rotate-ring-1 {
	from {
		transform: rotate(-80deg);
	}
	to {
		transform: rotate(-440deg);
	}
}
@keyframes rotate-ring-2 {
	from {
		transform: rotate(120deg);
	}
	to {
		transform: rotate(480deg);
	}
}